<div class="page-header">
  <h1>Viewing an Order</h1>
</div>

<div class="page-body">
  {{#with model as |order|}}
    <div class="form-header">
      <h2>Viewing Order #{{ order.id }}</h2>
    </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Product</h3>
      </div>

      <div class="form-field">
        <label for="order-item-id">Item ID</label>
        {{input type="text" id="order-item-id" class="form-control" value=order.itemId readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-item-type">Item Type</label>
        {{input type="text" id="order-item-type" class="form-control" value=order.itemType readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-item-price">Item Price</label>
        {{input type="text" id="order-item-price" class="form-control" value=order.itemPrice readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-quantity">Quantity</label>
        {{input type="number" id="order-quantity" class="form-control" value=order.quantity readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-item-screen-size">Total Price</label>
        {{input type="text" id="order-total-price" class="form-control" value=order.totalPrice readonly=true}}
      </div>

      {{! Display data for item type }}
      {{#if (eq order.itemType "laptop") }}
        <div class="form-field">
          <label for="order-item-name">Laptop Color</label>
          {{input type="text" id="order-item-color" class="form-control" value=order.itemColor readonly=true}}
        </div>

        <div class="form-field">
          <label for="order-item-screen-size">Laptop Screen Size</label>
          {{input type="text" id="order-item-screen-size" class="form-control" value=order.itemScreenSize readonly=true}}
        </div>

        <div class="form-field">
          <label for="order-item-description">Laptop Description</label>
          {{textarea id="order-item-description" class="form-control" value=order.itemDescription readonly=true}}
        </div>

        <div class="form-field">
          <label for="order-item-image">Laptop Image</label>
          <div id="order-item-image" class="form-control">
            <img class="t-min-img-size" src="{{order.itemImage}}" alt="" />
          </div>
        </div>
      {{/if}}
    </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Shipping Address</h3>
      </div>
      <div class="form-field">
        <label for="order-shipping-address1">Address 1</label>
        {{input type="text" id="order-shipping-address1" class="form-control" value=order.shippingAddress1 readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-shipping-address2">Address 2</label>
        {{input type="text" id="order-shipping-address2" class="form-control" value=order.shippingAddress2 readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-shipping-state">State</label>
        {{input type="text" id="order-shipping-state" class="form-control" value=order.shippingState readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-shipping-city">City</label>
        {{input type="text" id="order-shipping-city" class="form-control" value=order.shippingCity readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-shipping-postal-code">Zip</label>
        {{input type="text" id="order-shipping-postal-code" class="form-control" value=order.shippingPostalCode readonly=true}}
      </div>

    </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Billing Address</h3>
      </div>

      <div class="form-field">
        <label for="order-billing-address1">Address 1</label>
        {{input type="text" id="order-billing-address1" class="form-control" value=order.billingAddress2 disabled=order.shippingIsBilling readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-billing-address2">Address 2</label>
        {{input type="text" id="order-billing-address2" class="form-control" value=order.billingAddress2 disabled=order.shippingIsBilling readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-billing-state">State</label>
        {{input type="text" id="order-billing-state" class="form-control" value=order.billingState disabled=order.shippingIsBilling readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-billing-city">City</label>
        {{input type="text" id="order-billing-city" class="form-control" value=order.billingCity disabled=order.shippingIsBilling readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-billing-postal-code">Zip</label>
        {{input type="text" id="order-billing-postal-code" class="form-control" value=order.billingPostalCode disabled=order.shippingIsBilling readonly=true}}
      </div>
    </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Payment</h3>
      </div>
      <div class="form-field">
        <label for="order-payment-credit-card-number">Credit Card Number</label>
        {{input type="text" id="order-payment-credit-card-number" class="form-control" value=order.paymentCreditCardNumber placeholder="Card Number" readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-payment-credit-card-expiration">Credit Card Expiration</label>
        {{input type="text" id="order-payment-credit-card-expiration" class="form-control" value=order.paymentCardExpiration placeholder="Expiration date" readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-payment-credit-card-name">Name on Credit Card</label>
        {{input type="text" id="order-payment-credit-card-name" class="form-control" value=order.CreditCardName readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-payment-credit-card-cvv">CVV</label>
        {{input type="text" id="order-payment-credit-card-cvv" class="form-control" value=order.CreditCardCvv readonly=true}}
      </div>
    </div>
  {{/with}}

  {{outlet}}
</div>
