{{!-- {{#simple-form class="form-container" onsubmit=(action register) as |formValues|}}
  {{input placeholder="User Name" type="text" value=formValues.username}}
  {{input placeholder="Email" type="text" value=formValues.email}}
  {{input placeholder="Password" type="password" value=formValues.password}}
  <button>Register</button>
{{/simple-form}} --}}
<div class="register-page">
<div class="input-container">
  <div class="input-section">
   {{#simple-form  onsubmit=(action register) as |formValues|}}

     <p class="form-heading">Register for an Account</p>
    <div class="input-field">
      {{input value=formValues.username placeholder='User Name' class="placeholder-field"}}
    </div>

     <div class="input-field">
       {{input value=formValues.email placeholder='Email' class="placeholder-field"}}
     </div>

      <div class="input-field">
       {{input type="password" value=formValues.password placeholder='Password' class="placeholder-field"}}
     </div>

    <div class="register-container">
        <button class="register-button">Register</button>
    </div>

    {{/simple-form}}
    </div>
  </div>

   <div class="register-question">
     <p>Already have an account?{{#link-to "login" class="register-login"}}Log in{{/link-to}}</p>
   </div>
 </div>


{{outlet}}
