<div class="page-header">
  <h1>Your Orders</h1>
</div>

<div class="page-body order-datalist datalist-table">
  <ul class="datalist-main">
    {{#unless model}}
      <i>You have no orders to view!</i>
    {{/unless}}
    {{#each model as |order|}}
      <li class="datalist-item">
        <div class="datalist-field datalist-field-id">
          <span class="datalist-label">ID</span>
          <span class="datalist-value">{{order.id}}</span>
        </div>
        <div class="datalist-field datalist-field-credit-card-name">
          <span class="datalist-label">CC Name</span>
          <span class="datalist-value">{{order.CreditCardName}}</span>
        </div>
        <div class="datalist-field datalist-field-item-id">
          <span class="datalist-label">Item ID</span>
          <span class="datalist-value">{{order.itemId}}</span>
        </div>
        <div class="datalist-field datalist-field-item-type">
          <span class="datalist-label">Item Type</span>
          <span class="datalist-value">{{order.itemType}}</span>
        </div>
        <div class="datalist-field datalist-field-quantity">
          <span class="datalist-label">Quantity</span>
          <span class="datalist-value">{{order.quantity}}</span>
        </div>
        <div class="datalist-field datalist-field-price-per-unit">
          <span class="datalist-label">Total Price</span>
          <span class="datalist-value">{{order.totalPrice}}</span>
        </div>
        <div class="datalist-field datalist-field-actions">
          <div class="datalist-label">Actions</div>
          <ul class="datalist-value">
            {{#link-to "account.order.view" tagName="li" href=false}}
              {{#link-to "account.order.view" order.id}}<i class="fa fa-eye fa-fw"></i> View{{/link-to}}
            {{/link-to}}
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
