{{bootstrap-navbar}}

<div class="order-route">
  <div class="page-header">
    <h1>Placing an order for {{model.itemType}} #{{model.item.id}}: {{model.item.name}}</h1>
  </div>

  <div class="page-body">
    {{#simple-form startingValues=model onsubmit=(action saveOrder) as |order|}}
      <div class="form-header">
        <h2>New Order</h2>
      </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Product</h3>
      </div>

    <div class="form-field">
      <label for="order-item-id">Item ID</label>
      {{input type="text" id="order-item-id" class="form-control" value=order.itemId readonly=true}}
    </div>

    <div class="form-field">
      <label for="order-item-type">Item Type</label>
      {{input type="text" id="order-item-type" class="form-control" value=order.itemType readonly=true}}
    </div>

    <div class="form-field">
      <label for="order-price-per-unit">Item Price</label>
      {{input type="text" id="order-price-per-unit" class="form-control" value=order.item.price readonly=true}}
    </div>

    <div class="form-field">
      <label for="order-quantity">Quantity</label>
      {{input type="number" id="order-quantity" class="form-control" value=order.quantity}}
    </div>

    {{! Display data for item type }}
    {{#if (eq order.itemType "laptop") }}
      <div class="form-field">
        <label for="order-item-name">Laptop Color</label>
        {{input type="text" id="order-item-color" class="form-control" value=order.item.color readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-item-screen-size">Laptop Screen Size</label>
        {{input type="text" id="order-item-screen-size" class="form-control" value=order.item.screenSize readonly=true}}
      </div>

      <div class="form-field">
        <label for="order-item-description">Laptop Description</label>
        {{textarea id="order-item-description" class="form-control" value=order.item.description readonly=true}}
      </div>
    {{/if}}
  </div>

    <div class="form-group" role="group">
      <div class="form-group-header">
        <h3>Shipping Address</h3>
      </div>
      <div class="form-field">
      <label for="order-shipping-address1">Address 1</label>
      {{input type="text" id="order-shipping-address1" class="form-control" value=order.shippingAddress1}}
    </div>


    <div class="form-field">
      <label for="order-shipping-address2">Address 2</label>
      {{input type="text" id="order-shipping-address2" class="form-control" value=order.shippingAddress2}}
    </div>


    <div class="form-field">
      <label for="order-shipping-state">State</label>
      {{input type="text" id="order-shipping-state" class="form-control" value=order.shippingState}}
    </div>

    <div class="form-field">
      <label for="order-shipping-city">City</label>
      {{input type="text" id="order-shipping-city" class="form-control" value=order.shippingCity}}
    </div>

    <div class="form-field">
      <label for="order-shipping-postal-code">Zip</label>
      {{input type="text" id="order-shipping-postal-code" class="form-control" value=order.shippingPostalCode}}
    </div>
  </div>

  <div class="form-group" role="group">
    <div class="form-group-header">
      <h3>Billing Address</h3>
    </div>
    <div class="form-field">
      <label for="order-shipping-is-billing">Use shipping address for billing address</label>
      <div class="form-control">
        {{input type="checkbox" id="order-shipping-is-billing" checked=order.shippingIsBilling}}
    </div>
   </div>

   {{#unless order.shippingIsBilling}}
     <div class="form-field">
       <label for="order-billing-address1">Address 1</label>
       {{input type="text" id="order-billing-address1" class="form-control" value=order.billingAddress1 disabled=order.shippingIsBilling}}
     </div>

     <div class="form-field">
       <label for="order-billing-address2">Address 2</label>
       {{input type="text" id="order-billing-address2" class="form-control" value=order.billingAddress2 disabled=order.shippingIsBilling}}
     </div>

     <div class="form-field">
       <label for="order-billing-state">State</label>
       {{input type="text" id="order-billing-state" class="form-control" value=order.billingState disabled=order.shippingIsBilling}}
     </div>

     <div class="form-field">
       <label for="order-billing-city">City</label>
       {{input type="text" id="order-billing-city" class="form-control" value=order.billingCity disabled=order.shippingIsBilling}}
     </div>

     <div class="form-field">
       <label for="order-billing-postal-code">Zip</label>
       {{input type="text" id="order-billing-postal-code" class="form-control" value=order.billingPostalCode disabled=order.shippingIsBilling}}
     </div>
   {{/unless}}
 </div>

 <div class="form-group" role="group">
   <div class="form-group-header">
     <h3>Payment</h3>
   </div>
   <div class="form-field">
       <label for="order-payment-credit-card-number">Credit Card Number</label>
       {{input type="text" id="order-payment-credit-card-number" class="form-control" value=order.paymentCreditCardNumber placeholder="Card Number"}}
   </div>

     <div class="form-field">
       <label for="order-payment-credit-card-expiration">Credit Card Expiration</label>
       {{input type="text" id="order-payment-credit-card-expiration" class="form-control" value=order.paymentCardExpiration placeholder="Expiration date"}}
     </div>

     <div class="form-field">
       <label for="order-payment-credit-card-name">Name on Credit Card</label>
       {{input type="text" id="order-payment-credit-card-name" class="form-control" value=order.CreditCardName}}
     </div>

     <div class="form-field">
       <label for="order-payment-credit-card-cvv">CVV</label>
       {{input type="text" id="order-payment-credit-card-cvv" class="form-control" value=order.CreditCardCvv}}
     </div>
   </div>

     <div class="form-submits">
       {{#link-to "home" class="button-secondary"}}Cancel{{/link-to}}
       <button class="button-primary" type="submit">Place your order</button>
     </div>
    {{/simple-form}}

    {{outlet}}
  </div>
</div>
